@import './config';

:root{
    scroll-behavior: smooth;
    font-size: 62.5%;
  }
  body{
    min-height: 100vh;
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
  }

  *,
  ::before,
  ::after{
    box-sizing: border-box;
  }
  
  ul{
    list-style: none;
  }

  body,
  ul,
  h1,
  h2,
  h3,
  h4,
  h5{
    margin: 0;
    padding: 0;
  }
  
  img{
    display: block;
    max-width: 100%;
  }
  
  input,
  button,
  textarea,
  select {
      font: inherit;
      outline: none;
      border: solid .1rem #ccc;
  }
  
  a{
    text-decoration: none;
  }

  img{
    max-width: 100%;
  }
  
  section{
    padding-top: 5rem;
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 2em;
    padding-top: 6em;
    overflow-y: scroll;
  }



  ol li{
    margin-bottom: 1em;
    ul li{
      margin-bottom: .2em;
      font-size: 1.2rem;
      a{
        text-decoration: underline!important;
      }
    }
  }


  .App{
    max-width: 40rem;
    margin-inline: auto;
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: #fff;
  }

  .page-loader{
    font-size: 5rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ccc;
  }

  .para{
    h2{
      font-size: 2.3rem;
      text-transform: uppercase;
      text-align: center;
      color: black(.9);
    }
    h4{
      font-size: 1.8rem;
      text-transform: uppercase;
      text-align: center;
      color: black(.9);
      margin-top: 3em;
    }
    p{
      font-size: 1.6rem;
      color: muted();
      text-align: justify;
    }
    picture{
      margin-bottom: 3em;
      display: block;
    }
    ol{
      margin-left: .5em;
      padding-left: .5em;
    }
    .exercise{
      background-color: muted();
      color: white();
      padding: 2em;
      text-align: justify;
      h4{
        margin-top: 0!important;
        font-size: 2rem;
        color: white();
      }
    }
  }

