@import '../../../sass/config';


.blog{
    background-color: white();
    padding: 1.5em;
    box-shadow: .2rem .2rem .8rem muted(.3);
    margin-bottom: 3rem;
    div{
        padding-top: 1.5em;
        .fa{
            font-size: 1.4rem;
        }
        h4{
            font-size: 2.1rem;
            color: #444;
            padding-bottom: .5em;
            text-align: center;
            border-bottom: solid muted(.4) .1rem;
            text-transform: uppercase;
         
        }
        p{
            text-align: center;
            font-size: 1.6rem;

        }
        .date{
            background-color: default();
            font-size: 1.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            gap: 1rem;

        }
    }
}