@import '../../sass/config';
body{
    background-color: default($opacity: 1);
}

.App{
    max-width: 40rem;
    height: 100vh;
    background-color: white();
    margin-inline: auto;
    position: relative;
    overflow: hidden;
}