@import '../../sass/config';
footer{
    padding: 2em;
    color: muted();
    font-size: 1.2rem;
    text-align: center;
    bottom: 0;
    position: fixed;
    background-color: white();
    width: 40rem;

}
